@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap");

@viewport {
  zoom: 1;
  width: device-width;
}



body{
  background: linear-gradient(rgb(208, 171, 206), rgb(23, 165, 125)) no-repeat;
}

#h1{
  color: #fff;
  margin:  8vh;
  font-family: monospace;

}

section{
  margin-left: 5%;
}

label{
  color: #fff;
  font-weight: 700;
}
input{
  background-color: rgba(236, 233, 233, 0.824) !important;
  border-color: transparent !important;
}
#userName{
  width: 25%;

}

#email{
  width: 30%;
}
 #password{
  width: 20%;
 }
#confirmPassword{
  width: 20%;
}

#emailHelp{
  color: rgba(18, 13, 22, 0.698);
}


#inputcheck{
  background-color: rgba(207, 191, 191, 0.723) !important;
  
  
}
#inputcheck:hover{
  background-color:  #af1ca1bd !important;
}


button{
  border: none !important;
  width: 8rem;
  
}

a.animated-button.register {
  border-width: 2px 3px 3px;
  border-color:rgba(5, 54, 128, 0.779) !important;
  box-shadow:  2px 2px  0px 1px rgba(5, 54, 128, 0.779) ;
	color: #fff;
  font-weight: 700;
	cursor: pointer;
	display: block;
	position: relative;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
  margin-left: -2vh;
}

a.animated-button.register:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
  
}
#res:hover{
  color: #af1ca1bd ;
  
}

a.animated-button.register:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	background: #eceff1c6;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1)
0s;
}

#hr-first{
  box-shadow:  8px 7px  5px rgb(25, 25, 160);


  
}
footer p{
  color: #fff;
  font-family: monospace;
  text-align: right;
  margin: 3vh;
  font-size: 88%;
}

#img-bot{
  position: relative;
  width: 4%;
  text-align: right !important;
  filter: contrast(140%);
}

#img-bot:hover{
    opacity: 70%;
}

#bootlink{
  text-decoration: none;
}

#isa {
 text-decoration: none ;
 color: #fff;
}

#isa:hover {
  color: rgba(0, 0, 0, 0.423);
 }