

@media (max-width: 977px) {

#email{
    width: 50%;
  }
   #password{
    width: 35%;
   }
  #confirmPassword{
    width: 35%;
  }
}


@media (min-width:220px) and (max-width: 833px){
    
h1{
    text-align: center;
   
}

    #userName{
        width: 60%;
      
      }
    
    #email{
        width: 70%;
      }
       #password{
        width: 40%;
       }
      #confirmPassword{
        width: 40%;
      }
      footer{
          margin-top: 3rem;
      }
    #img-bot{
        width: 10%;
    }
    footer p{
        font-size: 70%;
    }
    }

